h1.logo{
				color: rgb(129, 121, 121);
				text-align: center;
				margin-top: 20px;
			}
			.login h2{
				text-align: center;
				margin: 10px;
				color: rgb(182, 151, 151);
			}
			.login .txt{
				width: 300px;
				border: 1px solid #ccc;
				height: 32px;
				display: block;
				margin: 0 auto;
				font-size: 16px;
				color: rgb(175, 112, 218);
				border-radius: 3px;
			}
			.login .act{
				background: rgb(60, 211, 199);
				border: none;
				color: #fff;
				padding: 8px 20px;
				display: block;
				margin: 10px auto;
				cursor: pointer;
				border-radius: 3px;
			}

			.wrapper{
				width: 800px; border-radius: 10px; border: 1px solid #ccc;
				background: #e7eaed;
				margin: 0 auto;
				display: none;
			}
			.wrapper .header h1{
				color: #677d99;
				font-size: 22px;
				padding-left: 20px;
			}
			.wrapper .content{
				margin: 20px;
				position: relative;
			}
			.wrapper .content .chat_wrap{
				width: 515px;
			}
			.wrapper .content .chat_wrap .chat_title{
				background: #72aae8;
				color: #fff;
				height: 30px;
				line-height: 30px;
				border-top-left-radius: 5px;
				border-top-right-radius: 5px;
				padding-left: 10px;
				margin:	0;
			}
			.wrapper .content .chat_wrap .chat_body{
				background: #c9e2fc;
				padding: 16px 8px;
				height: 420px;
			}
			.wrapper .content .chat_wrap .chat_msg{
				background: #fff;
				height: 250px;
				list-style: none;
				padding: 0 5px;
				font-size: 13px;
				overflow: auto;
				margin: 0;
			}
			.wrapper .content .chat_wrap .chat_msg li{
				height: 26px;
				line-height: 26px;
				overflow: hidden;
				border-bottom: 1px dotted rgba(138, 230, 222, 0.93);
			}
			.wrapper .content .chat_wrap .chat_msg b{
				display: block;
				float: right;
				color: rgba(107, 51, 51, 0.53);
			}
			.wrapper .content .chat_wrap .chat_msg strong{
				color: rgb(23, 137, 243);
				padding-right: 4px;
			}
			.wrapper .content .chat_wrap .hr{
				background: #fff;
				height: 2px;
				border: none;
				margin: 10px 0;
			}
			.wrapper .content .chat_user{
				width: 210px;
				position: absolute;
				top: 0;
				right: 20px;
			}
			.wrapper .content .chat_wrap .chat_body .chat_act label{
				font-size: 13px;
				color: #363361;
			}
			.wrapper .content .chat_wrap .chat_body .chat_input{
				margin: 10px 0;
				position: relative;
			}
			.wrapper .content .chat_wrap .chat_body .chat_input_txt{
				height: 100px;
				width: 400px;
				border: 1px solid #b7babc;
			}
			.wrapper .content .chat_wrap .chat_body .send{
				background: #f3f4f7;
				border: 1px solid #717273;
				border-radius: 5px;
				position: absolute;
				right: 0;
				bottom: 5px;
				height: 30px;
				width: 75px;
				line-height: 30px;
				text-align: center;
				cursor: pointer;
			}
			.wrapper .user_body{
				background: #fff;
				height: 450px;
				border: 1px solid #b7babc;
				overflow: auto;
			}
			.wrapper .user_body ul{
				margin: 0;
				list-style: none;
				padding: 0;
			}
			.wrapper .user_body ul li{
				margin: 0;
				padding: 0 5px;
				border-bottom: 1px dotted #ccc;
				height: 30px;
				line-height: 30px;
			}
			.wrapper .time{
				color: rgb(253, 237, 237);
				font-size: 12px;
				padding-left: 8px;
			}
			.wrapper .myname{
				color: rgb(243, 174, 135);
				padding-left: 6px;
			}